.kh-width{
  width: 95%;
  max-width: 1200px;
  margin: 30px auto;
}
div.kh-title{
  width: 50%;
  margin: 0 auto;
}
div.kh-title img{
  width: 100%;
  margin: 50px auto;
}

.kh-left-txt h4, .kh-right-txt h4{
  margin: 5px 0;
}

.kh-up_txt h4{
  font-size: 2em;
  font-weight: 600px;
  color: #f19cb9;
}
.kh-point li{
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #d4d4d4;
}
.kh-point li i{
  font-size: 2em;
  color: #f19cb9;
  margin-bottom: 5px;
}
.kh-point li h2{
  font-size: 2.2em;
  color: #32343e;
}


@media screen and (min-width:1000px) {
  .kh-brand-section1 .kh-left-box,
  .kh-brand-section2 .kh-right-box,
  .kh-brand-section3 .kh-left-box2{
  display: flex;
  justify-content: space-between;
  }

  .kh-brand-section2 .kh-right-box{
    flex-direction: row-reverse;
  }
  .kh-left-txt, .kh-right-txt{
    width: 45%;
  }

  .kh-left-txt, .kh-right-txt{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
   /*  align-items: center; */
  }
  .kh-right-txt{
    align-items: flex-end;
    text-align: right;
  }
  .kh-left-txt div{
    position: absolute;
    top: 5px;
    left: 5px;
    border-left: 2px solid #32343e;
    height: 80px;
  }
  .kh-right-txt div{
    position: absolute;
    top: 5px;
    right: 5px;
    border-left: 2px solid #32343e;
    height: 80px;
  }
  .kh-left-txt h4, .kh-right-txt h4{
    font-size: 2.2em;
    font-weight: 600px;}

  .kh-point ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .kh-point ul li{
    width: 33.33%;
    padding: 50px;
    margin: 0 10px;
  }
}/* lg */

  @media screen and (max-width:980px){
    div.kh-title{
      width: 60%;}
    
    div.kh-title img{
        width: 100%;
        margin: 30px auto;
      }

    .kh-left-img img, .kh-right-img img{
      width: 100%;
      margin: 0 auto;
    }
    .kh-left-txt, .kh-right-txt{
      width: 100%;
      text-align: center;
    }
    .kh-left-txt h4, .kh-right-txt h4{
      font-size: 1.3em;
      font-weight: 600px;
    }
    .kh-point ul li{
      padding: 25px;
    }
  }/* sm */

.kh-brand-section2, .kh-brand-section3{
  margin: 50px 0;
}
.kh-brand-section4{
  text-align: center;
}
.kh-up_txt p{
  max-width: 500px;
  margin: 30px auto;
}
.kh-point ul{

}
