body{
  overflow-x: hidden;
}
.lee-container0{
  background-color: black;
  width: 100%;
  top: 0;
}
.lee-container0 div{
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 40px;
  top:20px;
}
.lee-container0 div h1{
  color: #fc8130;
}
.lee-container0 div h1 a:nth-child(1){
  font-size: 3em;
}
.lee-container0 div h1 a:nth-child(2){
  font-size: 1.5em;
  margin-left: 20px;
}
.lee-container0 div ul{
  position:relative;
  display: flex;
  top:4px;
}
.lee-container0 div ul li{
  padding: 10px;
  color: white; 
  font-size: 0.5em;
}
.lee-container0 div ul li:nth-child(even){
  color: #fc8130;
}
.lee-line{
  width: 100%;
  color: lightgrey; 
}
@media screen and (max-width:950px){
  .lee-container0{
    width: 102%;
    padding: 0 10px;
  }
  .lee-container0 div{
    display: block;
    width: 50%;
    margin: 0 auto;
  }
  .lee-container0 div h1 a:nth-child(1){
    font-size: 2em;
  }
  .lee-container0 div h1 a:nth-child(2){
    font-size: 1em;
    /* margin-left: 20px; */
  }
  .lee-container0 ul{
    width: 75%;
    margin: 0 auto;
  }
}
@media screen and (max-width:600px){
  .lee-container0{
    padding: 0 5px;
  }
  .lee-container0 div{
    display: block;
    width: 60%;
    margin: 0 auto;
  }
  .lee-container0 div h1 a:nth-child(1){
    font-size: 2em;
  }
  .lee-container0 div h1 a:nth-child(2){
    font-size: 1em;
    margin-left: 20px;
  }
  .lee-container0 ul{
    width: 65%;
    margin: 0 auto;
  }

}

/* ---- nav ---- */
.lee-container1{
  display: flex;
  width: 90%;
  height: 100%;
  justify-content: space-between;
  padding: 80px 5%;
  background-color: black;
}
.lee-container1 h6{
  font-size: 1.2em;
  color: #fc8130;
}
.lee-container1 div{
  position: relative;
  margin: 0 100px 0 10px;
}
.lee-container1 div div{
  display: flex;
}
.lee-container1 div div:nth-child(2){
  top: 125px;
}
.lee-container1 div div figure{
  overflow: hidden;
  width: 140px;
  height: 160px;
  border: 1px solid #fc8130;
}
.lee-container1 div div figure img{
  width: 100%;
  height: 100%;
}
.lee-container1 div div span{
  display: block;
  margin-left:50px;
}
.lee-container1 div div span h3{
  color: white;
  font-size: 1.75em;
}
.lee-container1 div div span p{
  font-size: 1.3em;
} 
.lee-container1 div div span .leebtn{
  display: none;
} 
@media screen and (min-width:1300px){
  .lee-container1 h6{
    font-size: 1.4em;
  }
  .lee-container1 div{
    padding: 0 20px;
  }
  .lee-container1 div div figure{
    width: 175px;
    height: 200px;
    margin: 0 10px 0 0;
  }
}
@media screen and (min-width:600px) and (max-width:950px){
  .lee-container1{
    width: 92%;
    height: 200%;
    display: block;
  }
  .lee-container1 div{
    margin: 0 auto;
  }
  .lee-container1 div div{
    position: relative;
    display: block;
    border: solid 1px lightgrey;
    padding: 80px;
    text-align: center;
  }
  .lee-container1 div div figure{
    margin: 0 auto;
    width: 70%;
    height: 70%;
  }
  .lee-container1 div div figure img{
    width: 100%;
    height: 100%;
  }
  .lee-container1 div div span{
    margin: 0px auto;
  }
  .lee-container1 div div span h3{
    margin-top: 30px;
    font-size: 1.5em;
  }
  .lee-container1 div div span p{
    font-size: 1.2em;
  }
  .lee-container1 div div span .leebtn{
    margin: 0 auto;
    display: block;
    width: 100px;
    height: 40px;
    font-weight: 500;
    background-color: aliceblue;
    border-radius: 10px;
  } 
}
@media screen and (max-width:600px){
  .lee-container1{
    width: 100%;
    height: 200%;
    display: block;
  }
  .lee-container1 div{
    margin: 0 auto;
  }
  .lee-container1 div div{
    position: relative;
    display: block;
    border: solid 1px lightgrey;
    padding: 80px;
    text-align: center;
  }
  .lee-container1 div div figure{
    margin: 0 auto;
    width: 70%;
    height: 70%;
  }
  .lee-container1 div div figure img{
    width: 100%;
    height: 100%;
  }
  .lee-container1 div div span{
    margin: 0px auto;
  }
  .lee-container1 div div span h3{
    margin-top: 30px;
    font-size: 1.2em;
  }
  .lee-container1 div div span p{
    margin-top: -20px;
    font-size: 1em;
  }
  .lee-container1 div div span .leebtn{
    margin: 0 auto;
    display: block;
    width: 100px;
    height: 40px;
    font-weight: 500;
    background-color: aliceblue;
    border-radius: 10px;
  } 
}