div.kh-about-dior{
  position: relative;
  height: 100%;
}
.kh-about-dior div.kh-title img{
  margin: 20px auto;
}

svg #filter{
  display: none;
}
@media screen and (min-width:200px) and (max-width : 900px){
  .kh-about-dior div.kh-title img{
    width: 100%;
  }
}

/* ----------sec1----------- */
.kh-about-dior .kh-brand-section1, .kh-about-dior .kh-brand-section1 figure{
  width: 100%;
}
.kh-brand-section1 figure img{
  width: 100%;
}

.kh-brand-section1 figure img{
  filter: url(#filter);
}



/* ----------sec2----------- */
.kh-brand-section2 figure {
  margin: 20px 0;
}
.kh-brand-section2 figure figcaption{
  display: flex;
  align-items: center;
  text-align: center;
}
.kh-brand-section2 figure figcaption p {
  width: 90%;
}

@media screen and (min-width:1000px){
  .kh-brand-section2 figure{
    display: flex;
    flex-direction: row;
  }
  .kh-brand-section2 figure img{
    width: 65%;
    margin-right: 20px;
  }
  .kh-brand-section2 figure figcaption{
    flex: 1;
    width: 30%;
  }
  .kh-brand-section2 figure figcaption p {
    width: 500px;
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
  }
}
@media screen and (max-width:900px){
  .kh-brand-section2 figure img{
    width: 100%;
  }
  .kh-brand-section2 figure figcaption{
    width: 100%;
  }
  .kh-brand-section2 figure figcaption p {
    font-size: 1.5vh;
    font-weight: 700;
  }
}

/* ----------sec3----------- */
.kh-brand-section3{
  position: relative;
}
.kh-brand-section3 figure{
  width: 100%;
}
.kh-brand-section3 figure img{
  width: 100%;
  filter: blur(1px);
}

@media screen and (min-width:1000px){
  .kh-brand-section3 figure figcaption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 500px;
  }
  .kh-brand-section3 figure figcaption p{
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}
@media screen and (max-width:1000px){
  .kh-brand-section3 figure figcaption{
    display: block;
    text-align: center;
  }
  .kh-brand-section3 figure figcaption p{
    font-size: 1.5vh;
    font-weight: 700;
  }
}

/* -------sec4--------- */
.kh-brand-section4{
  position: relative;
  margin-top: 20px;
  height: 100%;
}
@media screen and (min-width:1000px){
  .kh-brand-section4 .kh-div1{
    position: absolute;
    top: 5%;
    left: 2%;
  }
  .kh-brand-section4 .kh-div1 figure{
    position: relative;
    width: 100%;
  }
  .kh-brand-section4 .kh-div1 figure img{
    position: relative;
    width: 100%;
    z-index: 1;
  }
  .kh-brand-section4 .kh-div1 figure figcaption p{
    position: absolute;
    top: 40%;
    right: -70%;
    transform: translateY(-50%);
    width: 500px;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
  }
  .kh-brand-section4 .kh-div2{
    position: absolute;
    bottom: -10%;
    right: 2%;
  }
  .kh-brand-section4 .kh-div2 figure{
    position: relative;
    width: 100%;
  }
  .kh-brand-section4 .kh-div2 figure img{
    width: 100%;
  }
  .kh-brand-section4 .kh-div2 figure figcaption p{
    position: absolute;
    bottom: 30%;
    right: 80%;
    transform: translateY(-20%);
    width: 500px;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
  }
}
@media screen and (max-width:1000px){
  .kh-brand-section4 div figure{
    width: 100%;}
  .kh-brand-section4 div figure:nth-of-type(1){
    margin-bottom: 20px;
  }
  .kh-brand-section4 div figure img{
    width: 100%;}
  .kh-brand-section4 div figure figcaption{
    display: block;
    text-align: center;
  }
  .kh-brand-section4 div figure figcaption p{
    font-size: 1.5vh;
    font-weight: 700;
  }
}

/* -----scrollmotion---- */
/*section2*/
.kh-brand-section2 figure img{
  opacity: 0;
  transform: scale(0);
  transition: transform 3s, opacity 1s;
}
.kh-brand-section2 figure.active img{
  opacity: 1;
  transform: scale(1);
}
.kh-brand-section2 figure p{
  opacity: 0;
  transition: opacity 5s;
}
.kh-brand-section2 figure.active p{
  opacity: 1;
}
/*section3*/
.kh-brand-section3 figure img{
  filter: blur(5px);
  transition: 2s;
}
.kh-brand-section3 figure.active img{
  filter: blur(1px);
}
.kh-brand-section3 figure figcaption p{
  opacity: 0;
  transition: 4s;
}
.kh-brand-section3 figure.active figcaption p{
  opacity: 1;
}

/*section4*/
.kh-brand-section4{
  overflow: hidden;
}
.kh-brand-section4 .kh-div1 figure img{
  transform: translateX(-100%);
  opacity: 0.5;
  transition: all 2s;
}
.kh-brand-section4 .kh-div1 figure.active img{
  transform: translateX(0);
  opacity: 1;
}
.kh-brand-section4 .kh-div1 figure figcaption p{
  transform: translateX(100%);
  opacity: 0.5;
  transition: all 3s;
}
.kh-brand-section4 .kh-div1 figure.active figcaption p{
  transform: translateX(0);
  opacity: 1;
}
.kh-brand-section4 .kh-div2 figure img{
  transform: translateX(100%);
  opacity: 0.5;
  transition: all 3s;
}
.kh-brand-section4 .kh-div2 figure.active img{
  transform: translateX(0%);
  opacity: 1;
}
.kh-brand-section4 .kh-div2 figure figcaption p{
  transform: translateX(-100%);
  opacity: 0.5;
  transition: all 4s;
}
.kh-brand-section4.kh-brand-section4 .kh-div2 figure.active figcaption p{
  transform: translateX(0%);
  opacity: 1;
}

/* -----scrollspy------ */

.kh-scr-container {
  position: fixed;
  z-index: 5;
  left: 30px;
  top: 50%;
  transform: translateY(-50px);
  width: 50px;
  height: 300px;
}
.kh-scr-container .mouse{
  color: black;
  position: absolute;
  left: 50px; top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  animation: updown 2s infinite;
}
@keyframes updown{
  0%{
    top: 40%; opacity: 1;
  }
  100%{   
    top: 70%; opacity: 0.2;
  }
}
.kh-scr-container .mouse p{
  margin-top: 5px;
  font-size: 0.3em;
  writing-mode:vertical-lr;
}

.kh-scr-container .kh-scrollspy{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 200px;
}

.kh-scrollspy .kh-btn1{
  position: relative;
  z-index: 105;
  top: 50px;
}
.kh-scrollspy .kh-btn2{
  top: 100px;
}
.kh-scrollspy .kh-btn3{
  top: 150px;
}
.kh-scrollspy .kh-btn4{
  top: 200px;

}
.kh-scrollspy button{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 20px;
  height: 20px;
  background-color: royalblue;
  border-radius: 50%;
  opacity: 0.3;
  }
.kh-scrollspy button.active{
    background-color: pink;
    opacity: 0.8;
  }
  @media screen and (max-width:1000px) {
    .kh-scr-container{display: none;}

  }