 /* -------------------------------------------sauvage */
  section.ydr-sauvage{
      margin:0 auto ;
      width: 95%;
      max-width: 1500px;
      background: rgb(237, 237, 239); 
  }
  .ydr-sauvage div.ydr-youtube-container{
    padding-top: 50%;
    position: relative;
    top:0;
    overflow: hidden;
    width: 100%;
    height: 100%;
   
  } 
   div.ydr-youtube-container iframe{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    z-index: 1;
  } 
  div.ydr-youtube-container img{
    position: absolute;
    top: 2%;
    right: 25%;
    width: 50%;
    z-index: 2;
    animation: round 30s linear infinite ;
  }
  @keyframes round{
    0%{
      transform: rotate(0deg);
    }
    50%{
      transform: rotate(180deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }

   main.ydr-sauvage-main ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30%;
   }
   main.ydr-sauvage-main ul li{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   }
   main.ydr-sauvage-main ul li img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: center center;
    transition: filter 0.5s ;
   }
   main.ydr-sauvage-main ul li h3{
     font-weight: 600;
     font-size: 1em;
     width: 70px;
     transition: width 0.5s, background 0.5s, color 0.5s;
    }
    main.ydr-sauvage-main ul li h3:hover {
      width: 100px;
      background: black;
      color: white;
      border-radius: 0 10px 0 0;
      transition-delay: 0.5s, 0.5s, 0.5s;
    }
   main.ydr-sauvage-main ul li em{
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.5);
   }
   main.ydr-sauvage-main ul li:last-child img{
    width: 100%;
    height: 100%;
   }
   main.ydr-sauvage-main ul li img:hover:not(.ydr-lemon){
    filter: blur(3px);
    transition-delay: 0.3s ;
   }
   section.ydr-sauvage-banner{
   position: relative;
   margin: 100px 0;
   width: 95%;
   padding-top: 30%;
   }
   section.ydr-sauvage-banner nav{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
   }
   section.ydr-sauvage-banner nav img.ydr-depp{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
   }

   section.ydr-sauvage-banner nav img.ydr-perfum{
    position: absolute;
    width: 30%;
    height: 90%;
    top: 20px;
    right: 10px;
   }
   section.ydr-sauvage-banner nav button{
    position: absolute;
    top: 50%;
    right: 10%;
    width: 100px;
    height: 25px;
    background: black;
    border-radius: 30px;
    color: white;
   }
   section.ydr-sauvage-banner nav button:hover{
    background: #ededef;
    color: black;
   }
 
  @media screen and (min-width:500px) and (max-width:1000px) {
  
    main.ydr-sauvage-main ul li:last-child{
      display: none;
    }
    }
    @media screen and (max-width:500px) {
      main.ydr-sauvage-main ul li:last-child{
        display: none;
      }
      main.ydr-sauvage-main ul li:last-child{
        display: none;
      }
    }

  /* -------------------------------------------------collection */
  section.ydr-collection{
    width: 95%;
    max-width: 1500px;
    margin: 0 auto;
  }
  section.ydr-collection-water {
    position: relative;
    width: 100%;
    height: 50%;
  }
  section.ydr-collection-marble {
    width: 100%;
    height: 50%;
  }
  section.ydr-collection-water figure{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  section.ydr-collection-water figure img{
    width: 100%;
    height: 100%;
  }
  section.ydr-collection-water figure img:last-child{
    position: absolute;
    filter:url(#filter);
    top: 0;
    transform: scale(0.97);
    opacity: 0.3;
  }
  ul.ybr-colection-wrap{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    top: 0;
  }
  ul.ybr-colection-wrap li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transition: all 0.5s;
  }
  ul.ybr-colection-wrap li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
  }
  ul.ybr-colection-wrap li h3{
    font-weight: 600;
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  ul.ybr-colection-wrap li em{
   margin: 10px auto;
   font-size: 1.2em;
   font-weight: 600;
   width: 80%;
  }
  ul.ybr-colection-wrap li h6{
    font-size: 1.2vw;
  }
  ul.ybr-colection-wrap li p{
    margin: 5px auto;
    font-size: 0.9em;
    font-weight: 100;
    width: 80%;
  }
  img.ydr-dior-logo{
    width: 100%;
    animation: round 30s linear infinite ;
  }

  li.ydr-marble-text h6{
    color: black;
  }
  li.ydr-marble-text p{
    color: black;
  }
  ul.ybr-colection-wrap li button{
    width: 100px;
    height: 25px;
    background: black;
    border-radius: 30px;
  }
  ul.ybr-colection-wrap li button:hover{
    background: #ededef;
    color: black;
   }
   section.ydr-collection-water ul li img:hover:not(.ydr-dior-logo){
    transform: scale(1.1) ;
    filter: blur(3px);
    transition-delay: 0.3s ;
   }
  @media screen and (min-width:1000px) {
    ul.ybr-colection-wrap li{
      width: 33.3%;
    }
  }
  @media screen and (min-width:500px) and (max-width:1000px){
    ul.ybr-colection-wrap li{
      width: 50%; 
    }
  }
  @media screen and (max-width:500px){
    ul.ybr-colection-wrap li{
      width: 100%;  
      height: 400px;
    }
  }
  /* ---------------------------------------------------dior-homme */
  section.ydr-homme{
     margin:30px auto ;
      width: 95%;
      max-width: 1500px;
  }
  section.ydr-homme figure{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 10px;
  }
  img.ydr-figure-img1{
    width: 50%;
    object-fit: cover;
    object-position: center center;
  }
  figcaption.ydr-home-text{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  figcaption.ydr-home-text h3{
    width: 40%;
    margin-bottom: 10px;
  }
  figcaption.ydr-home-text h3 img{
    width: 100%;
  }
  figcaption.ydr-home-text p{
    width: 80%;
    font-size: 0.8em;
    color: #acacac;
  }
  nav.ydr-homme-nav{
    display: flex;
  }
  nav.ydr-homme-nav img{
    width: 45%;
    object-fit: cover;
    object-position: center center;
  }
  div.ydr-homme-name{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
  }
  div.ydr-homme-name span{
    padding: 10px;
  }
  span.ydr-button button{
    font-size: 1.2vw;
    font-weight: 100;
    color: #acacac;
    transition: color 0.5s;
  }
  div.ydr-homme-name p{
    width: 70%;
    margin-top: 20px;
    font-size: 0.9em;
    color: #acacac;
  }

  span.ydr-button button:hover{
    transition-delay: 0.3s;
    color: black;
  }
  span.ydr-button button::after{
    content: " /";
  }
  span.ydr-button button:last-child::after{
    content: none;
  }
  
  .ydr-homme-purfume{
    width: 100%;
  }
  .ydr-homme-ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .ydr-homme-ul li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
  @media screen and (min-width:1000px) {
    .ydr-homme-purfume{
      margin-top: 30px;
    }
    .ydr-homme-ul li{
      width: 32%;
    }
  }
  @media screen and (min-width:500px) and (max-width:1000px){
    .ydr-homme-ul li{
      margin-top: 25px;
      width: 48%;
    }
    .ydr-homme-ul li:first-child{
      display: none;
    }
  }
  @media screen and (max-width:500px){
    section.ydr-homme figure{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 50%;
    }
    img.ydr-figure-img1{
      width: 100%;
      height: 300px;
      object-fit: cover;
      object-position: center center;
    }
    figcaption.ydr-home-text{
      margin-top: 10px;
      width: 100%;
    }
   .ydr-homme-nav{
      margin-top: 10px;
    } 
    .ydr-homme-ul{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .ydr-homme-ul li{
      width: 100%;
      margin-top: 20px;
    }
  }
