@charset "UTF-8";
.about-woman-section1 {
  position: relative;
  overflow: hidden;
  padding: 50px 0;
}
.about-woman-section1 ul {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}
.about-woman-section1 ul li {
  position: relative;
  box-sizing: border-box;
  /* 공통으로 주고 싶은 텍스트 박스 디자인 되도록 수정은 미디어 쿼리 내에서 */
  /* ------------------------------------------------ */
}
.about-woman-section1 ul li .missdiol-textbox {
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.about-woman-section1 ul li .missdiol-textbox > div {
  padding: 5px;
  border: 1px solid #ddd;
}
@media screen and (min-width: 700px) {
  .about-woman-section1 ul li {
    float: left;
    /* longtextbox;li3 */
    /* large textbox;li4 */
  }
  .about-woman-section1 ul li::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  .about-woman-section1 ul li a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .about-woman-section1 ul li a :hover {
    transform: scale(1.2);
    filter: contrast(85%);
    overflow: hidden;
  }
  .about-woman-section1 ul li a figure {
    width: 100%;
    height: 100%;
  }
  .about-woman-section1 ul li a figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: grayscale(0.78);
  }
  .about-woman-section1 ul li:nth-child(1) .missdiol-textbox {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    left: 70%;
  }
  .about-woman-section1 ul li:nth-child(1) .missdiol-textbox > div {
    position: relative;
    background: whitesmoke;
  }
  .about-woman-section1 ul li:nth-child(1) .missdiol-textbox > div > h2 {
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 5px;
  }
  .about-woman-section1 ul li:nth-child(1) .missdiol-textbox > div > p {
    font-weight: 400;
  }
  .about-woman-section1 ul li:nth-child(1) .missdiol-textbox > div .more {
    cursor: pointer;
    top: 80%;
    width: 25%;
    border: 1px solid black;
    background-color: black;
    border-radius: 50px;
  }
  .about-woman-section1 ul li:nth-child(1) .missdiol-textbox > div .more :hover {
    color: palevioletred;
  }
  .about-woman-section1 ul li:nth-child(1) .missdiol-textbox > div .more > p {
    padding: 2px;
    color: white;
    text-align: center;
  }
  .about-woman-section1 ul li:nth-child(7) .missdiol-textbox {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 70%;
    border: 1px solid #ddd;
    background: #fff;
  }
  .about-woman-section1 ul li:nth-child(7) .missdiol-textbox > div {
    background: whitesmoke;
  }
  .about-woman-section1 ul li:nth-child(7) .missdiol-textbox > div > h2 {
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 5px;
  }
  .about-woman-section1 ul li:nth-child(7) .missdiol-textbox > div > p {
    font-weight: 400;
  }
  .about-woman-section1 ul li:nth-child(7) .missdiol-textbox > div .more {
    cursor: pointer;
    top: 80%;
    width: 25%;
    border: 1px solid black;
    background-color: black;
    border-radius: 50px;
  }
  .about-woman-section1 ul li:nth-child(7) .missdiol-textbox > div .more :hover {
    color: palevioletred;
  }
  .about-woman-section1 ul li:nth-child(7) .missdiol-textbox > div .more > p {
    padding: 2px;
    color: white;
    text-align: center;
  }
  .about-woman-section1 ul li:nth-child(8) .missdiol-textbox {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: -70%;
    border: 2px solid #ddd;
    background: #fff;
  }
  .about-woman-section1 ul li:nth-child(8) .missdiol-textbox > div {
    background: whitesmoke;
  }
  .about-woman-section1 ul li:nth-child(8) .missdiol-textbox > div > h2 {
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 5px;
  }
  .about-woman-section1 ul li:nth-child(8) .missdiol-textbox > div > p {
    font-weight: 400;
  }
  .about-woman-section1 ul li:nth-child(8) .missdiol-textbox > div .more {
    cursor: pointer;
    top: 80%;
    width: 25%;
    border: 1px solid black;
    background-color: black;
    border-radius: 50px;
  }
  .about-woman-section1 ul li:nth-child(8) .missdiol-textbox > div .more :hover {
    color: palevioletred;
  }
  .about-woman-section1 ul li:nth-child(8) .missdiol-textbox > div .more > p {
    padding: 2px;
    color: white;
    text-align: center;
  }
  .about-woman-section1 ul li:nth-child(3) .missdiol-textbox {
    position: absolute;
    width: 180%;
    top: -30%;
    left: 0;
    transform: translateY(50%);
    rotate: 90deg;
    border: 1px solid #ddd;
    background: rgba(255, 250, 250, 0.7);
    box-sizing: border-box;
  }
  .about-woman-section1 ul li:nth-child(3) .missdiol-textbox > div {
    box-sizing: border-box;
    border: 1px solid black;
    width: 100%;
    background: rgba(150, 150, 150, 0.4);
  }
  .about-woman-section1 ul li:nth-child(3) .missdiol-textbox > div > h2 {
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
  }
  .about-woman-section1 ul li:nth-child(3) .missdiol-textbox > div > p {
    letter-spacing: 2px;
  }
  .about-woman-section1 ul li:nth-child(4) .missdiol-textbox {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
  .about-woman-section1 ul li:nth-child(4) .missdiol-textbox > div {
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    letter-spacing: 2px;
    box-sizing: border-box;
  }
  .about-woman-section1 ul li:nth-child(4) .missdiol-textbox > div > h2 {
    display: block;
    margin-top: 90px;
    font-size: 1.2em;
    font-weight: 700;
  }
  .about-woman-section1 ul li:nth-child(4) .missdiol-textbox > div > p {
    word-spacing: 80px;
    line-height: 70px;
    font-weight: 600;
    font-size: 1.5em;
    object-position: center;
  }
  .about-woman-section1 ul li:nth-child(4) .missdiol-textbox > div span {
    display: block;
    margin-bottom: 105px;
  }
  .about-woman-section1 ul li:nth-child(2) .missdiol-textbox {
    width: 40%;
    top: 65%;
    left: -30%;
    border: 1px solid #fff;
    background: rgba(200, 200, 200, 0.4);
    rotate: -90deg;
  }
  .about-woman-section1 ul li:nth-child(2) .missdiol-textbox > div {
    background: rgba(200, 200, 200, 0.5);
    border: 1px solid white;
  }
  .about-woman-section1 ul li:nth-child(2) .missdiol-textbox > div > p {
    color: white;
    text-decoration: underline;
    letter-spacing: 3px;
  }
}
@media screen and (min-width: 1000px) {
  .about-woman-section1 ul li {
    width: 33.33%;
    margin-bottom: 10px;
  }
  .about-woman-section1 ul li:nth-child(2) {
    clear: both;
    margin-left: 33.33%;
  }
  .about-woman-section1 ul li:nth-child(4) {
    width: 66.66%;
    object-position: cover;
  }
  .about-woman-section1 ul li:nth-child(4)::before {
    padding-top: 50%;
  }
  .about-woman-section1 ul li:nth-child(6) {
    clear: both;
  }
  .about-woman-section1 ul li:nth-child(8) {
    clear: both;
    margin-left: 33.33%;
  }
  .about-woman-section1 ul li .missdiol-textbox {
    /* 나중수정 */
    position: absolute;
    top: 0;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .about-woman-section1 ul li {
    width: 50%;
  }
  .about-woman-section1 ul li:nth-child(1) {
    margin-bottom: 5%;
  }
  .about-woman-section1 ul li:nth-child(1) .missdiol-textbox {
    left: 90%;
  }
  .about-woman-section1 ul li:nth-child(2) {
    clear: both;
    margin-bottom: 5%;
  }
  .about-woman-section1 ul li:nth-child(2) .missdiol-textbox {
    display: none;
  }
  .about-woman-section1 ul li:nth-child(3) {
    margin-bottom: 5%;
  }
  .about-woman-section1 ul li:nth-child(3) .missdiol-textbox {
    display: none;
  }
  .about-woman-section1 ul li:nth-child(4) {
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 5%;
  }
  .about-woman-section1 ul li:nth-child(4)::before {
    padding-top: 50%;
    border: #eee;
  }
  .about-woman-section1 ul li:nth-child(5) {
    clear: both;
    margin-left: 25%;
    margin-bottom: 5%;
  }
  .about-woman-section1 ul li:nth-child(6) {
    margin-bottom: 5%;
  }
  .about-woman-section1 ul li:nth-child(7) {
    clear: both;
    margin-left: 50%;
    margin-bottom: 5%;
  }
  .about-woman-section1 ul li:nth-child(7) .missdiol-textbox {
    position: absolute;
    top: 50%;
    left: -80%;
  }
  .about-woman-section1 ul li:nth-child(8) .missdiol-textbox {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translateY(-50%);
  }
  .about-woman-section1 ul li:nth-child(9) {
    display: none;
  }
  .about-woman-section1 ul li .missdiol-textbox {
    /* 나중수정 */
    position: absolute;
    top: 0;
  }
}
@media screen and (max-width: 700px) {
  .about-woman-section1 ul li {
    width: 100%;
    margin-bottom: 5%;
  }
  .about-woman-section1 ul li a {
    width: 100%;
  }
  .about-woman-section1 ul li a figure {
    width: 100%;
  }
  .about-woman-section1 ul li a figure img {
    width: 100%;
    object-fit: contain;
    object-position: center;
    filter: grayscale(0.7);
  }
  .about-woman-section1 ul li .missdiol-textbox {
    background: whitesmoke;
    border: 1px solid whitesmoke;
    padding: 5px;
  }
  .about-woman-section1 ul li:nth-child(4) {
    display: none;
  }
  .about-woman-section1 ul li:nth-child(1) .missdiol-textbox > div h2 {
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
  }
  .about-woman-section1 ul li:nth-child(1) .missdiol-textbox > div p {
    font-size: 15px;
    font-weight: bold;
  }
  .about-woman-section1 ul li:nth-child(1) .missdiol-textbox > div .more {
    width: 20%;
    margin-left: 70%;
    display: inline-block;
    background: black;
    border-radius: 50px;
  }
  .about-woman-section1 ul li:nth-child(1) .missdiol-textbox > div .more :hover {
    color: palevioletred;
  }
  .about-woman-section1 ul li:nth-child(2) .missdiol-textbox > div p {
    text-align: center;
    color: gainsboro;
  }
  .about-woman-section1 ul li:nth-child(3) .missdiol-textbox > div h2 {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
  }
  .about-woman-section1 ul li:nth-child(3) .missdiol-textbox > div p {
    font-size: 10px;
    font-weight: 500;
  }
  .about-woman-section1 ul li:nth-child(7) .missdiol-textbox > div h2 {
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
  }
  .about-woman-section1 ul li:nth-child(7) .missdiol-textbox > div p {
    font-size: 15px;
    font-weight: bold;
  }
  .about-woman-section1 ul li:nth-child(7) .missdiol-textbox > div .more {
    cursor: pointer;
    width: 20%;
    margin-left: 70%;
    display: inline-block;
    background: black;
    border-radius: 50px;
  }
  .about-woman-section1 ul li:nth-child(7) .missdiol-textbox > div .more :hover {
    color: palevioletred;
  }
  .about-woman-section1 ul li:nth-child(8) .missdiol-textbox > div h2 {
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
  }
  .about-woman-section1 ul li:nth-child(8) .missdiol-textbox > div p {
    font-size: 15px;
    font-weight: bold;
  }
  .about-woman-section1 ul li:nth-child(8) .missdiol-textbox > div .more {
    cursor: pointer;
    width: 20%;
    margin-left: 70%;
    display: inline-block;
    background: black;
    border-radius: 50px;
  }
  .about-woman-section1 ul li:nth-child(8) .missdiol-textbox > div .more :hover {
    color: palevioletred;
  }
  .about-woman-section1 ul li:nth-child(9) {
    width: 100%;
  }
  .about-woman-section1 ul li:nth-child(9)::before {
    width: 100%;
    padding-top: 100%;
  }
}

/* -------------------------------------------------------------------- */
.about-woman-section2 {
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.988);
}
.about-woman-section2 ul {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.about-woman-section2 ul li {
  position: relative;
  box-sizing: border-box;
}
.about-woman-section2 ul li .jador-textbox {
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #eee;
  border-radius: 20px;
  color: #eee;
  box-shadow: 0 0 10px rgba(245, 182, 10, 0.966);
}
.about-woman-section2 ul li .jador-textbox > div {
  padding: 5px;
  border: 1px solid #eee;
  border-radius: 20px;
}
@media screen and (min-width: 700px) {
  .about-woman-section2 ul li {
    float: left;
  }
  .about-woman-section2 ul li::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  .about-woman-section2 ul li a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .about-woman-section2 ul li a :hover {
    overflow: hidden;
  }
  .about-woman-section2 ul li a figure {
    width: 100%;
    height: 100%;
  }
  .about-woman-section2 ul li a figure img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    filter: grayscale(0.3);
  }
  .about-woman-section2 ul li:nth-child(1) {
    z-index: 1;
  }
  .about-woman-section2 ul li:nth-child(1) .jador-textbox {
    position: absolute;
    display: inline-block;
    width: 50%;
    top: 10%;
    left: -50%;
    transform: translateY(25%);
  }
  .about-woman-section2 ul li:nth-child(1) .jador-textbox > div {
    position: relative;
  }
  .about-woman-section2 ul li:nth-child(1) .jador-textbox > div span {
    color: rgb(244, 247, 110);
    display: inline-block;
    font-size: 1.1em;
  }
  .about-woman-section2 ul li:nth-child(1) .jador-textbox > div h5 {
    font-size: 1.5em;
    font-weight: 600;
  }
  .about-woman-section2 ul li:nth-child(1) .jador-textbox > div p {
    font-size: 1.2em;
    font-weight: 400;
  }
  .about-woman-section2 ul li:nth-child(4) .jador-textbox {
    position: absolute;
    display: inline-block;
    width: 50%;
    top: 10%;
    right: -50%;
    transform: translateY(-50%);
  }
  .about-woman-section2 ul li:nth-child(4) .jador-textbox > div {
    position: relative;
  }
  .about-woman-section2 ul li:nth-child(4) .jador-textbox > div span {
    display: inline-block;
    font-size: 1.1em;
    color: rgb(244, 247, 110);
  }
  .about-woman-section2 ul li:nth-child(4) .jador-textbox > div h5 {
    font-size: 1.5em;
    font-weight: 600;
  }
  .about-woman-section2 ul li:nth-child(4) .jador-textbox > div p {
    font-size: 1.2em;
    font-weight: 400;
  }
  .about-woman-section2 ul li:nth-child(6) .jador-textbox {
    position: absolute;
    width: 50%;
    top: 30%;
    left: 90%;
    margin-right: 100px;
    rotate: -180deg;
  }
  .about-woman-section2 ul li:nth-child(6) .jador-textbox > div {
    position: relative;
  }
  .about-woman-section2 ul li:nth-child(6) .jador-textbox > div span {
    display: inline-block;
    font-size: 1.5em;
    color: rgb(244, 247, 110);
  }
  .about-woman-section2 ul li:nth-child(6) .jador-textbox > div h5 {
    font-size: 1.5em;
    font-weight: 600;
  }
  .about-woman-section2 ul li:nth-child(6) .jador-textbox > div p {
    font-size: 1.2em;
    font-weight: 400;
  }
  .about-woman-section2 ul li:nth-child(7) .jador-textbox {
    position: absolute;
    display: inline-block;
    width: 20%;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
  }
  .about-woman-section2 ul li:nth-child(7) .jador-textbox > div {
    position: relative;
  }
  .about-woman-section2 ul li:nth-child(7) .jador-textbox > div span {
    display: inline-block;
    font-size: 1.1em;
    color: rgb(244, 247, 110);
  }
  .about-woman-section2 ul li:nth-child(7) .jador-textbox > div h5 {
    font-size: 1.5em;
    font-weight: 600;
  }
  .about-woman-section2 ul li:nth-child(7) .jador-textbox > div p {
    font-size: 1.2em;
    font-weight: 400;
  }
}
@media screen and (min-width: 1000px) {
  .about-woman-section2 ul li {
    width: 33%;
    margin-bottom: 10px;
    /* 쟈도르 로르 돌려놨음 */
  }
  .about-woman-section2 ul li:nth-child(1) {
    position: absolute;
    top: 7%;
    left: 40%;
    filter: brightness(100%);
  }
  .about-woman-section2 ul li:nth-child(1)::before {
    display: block;
    padding-top: 50%;
  }
  .about-woman-section2 ul li:nth-child(2) {
    float: right;
    opacity: 0.6;
  }
  .about-woman-section2 ul li:nth-child(3) {
    clear: both;
    width: 33%;
  }
  .about-woman-section2 ul li:nth-child(4) {
    margin-left: -33%;
    margin-top: 15.55%;
    opacity: 0.75;
  }
  .about-woman-section2 ul li:nth-child(4)::before {
    display: block;
    padding-top: 30%;
  }
  .about-woman-section2 ul li:nth-child(5) {
    clear: both;
    float: left;
    width: 60%;
    opacity: 0.15;
  }
  .about-woman-section2 ul li:nth-child(5)::before {
    display: block;
    padding-top: 60%;
  }
  .about-woman-section2 ul li:nth-child(6) {
    float: left;
    position: absolute;
    width: 35%;
    top: 40%;
    left: 0%;
    margin-left: 72%;
    rotate: -180deg;
    filter: brightness(80%);
  }
  .about-woman-section2 ul li:nth-child(6)::before {
    display: block;
    padding-top: 100%;
  }
  .about-woman-section2 ul li:nth-child(7) {
    width: 100%;
    clear: both;
  }
  .about-woman-section2 ul li:nth-child(7)::before {
    display: block;
    padding-top: 35%;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .about-woman-section2 ul li {
    width: 50%;
    margin-bottom: 10%;
  }
  .about-woman-section2 ul li:nth-child(1) .jador-textbox {
    color: #888;
    position: absolute;
    top: 80%;
    left: 0%;
    width: 40%;
  }
  .about-woman-section2 ul li:nth-child(1) .jador-textbox h5 {
    font-weight: 600;
  }
  .about-woman-section2 ul li:nth-child(1) .jador-textbox p {
    color: rgba(241, 201, 20, 0.951);
  }
  .about-woman-section2 ul li:nth-child(1)::before {
    display: block;
    padding-top: 60%;
  }
  .about-woman-section2 ul li:nth-child(2) {
    display: none;
  }
  .about-woman-section2 ul li:nth-child(3) {
    opacity: 0.2;
  }
  .about-woman-section2 ul li:nth-child(4) {
    float: left;
    margin-left: 33.33%;
    width: 40%;
    transform: rotate(-90deg);
  }
  .about-woman-section2 ul li:nth-child(4) .jador-textbox {
    position: absolute;
    overflow: hidden;
    width: 60%;
    top: 15%;
    left: 55%;
    rotate: 90deg;
    color: #888;
    text-align: center;
    clip-path: ellipse(180px 140px at 50% 40%);
    transform: translateY(-10%);
  }
  .about-woman-section2 ul li:nth-child(4) .jador-textbox::before {
    display: block;
    padding-top: 50%;
  }
  .about-woman-section2 ul li:nth-child(4) .jador-textbox > div {
    background: rgb(244, 247, 110);
  }
  .about-woman-section2 ul li:nth-child(4) .jador-textbox > div span {
    color: black;
    font-size: 1.1em;
  }
  .about-woman-section2 ul li:nth-child(4) .jador-textbox > div h5 {
    font-weight: 600;
    font-size: 1.5em;
  }
  .about-woman-section2 ul li:nth-child(4) .jador-textbox > div p {
    text-decoration: underline;
    font-size: 1.2em;
    font-weight: 400;
    word-spacing: 1.5px;
  }
  .about-woman-section2 ul li:nth-child(4) .jador-textbox > div p > strong {
    display: inline-block;
    color: orange;
  }
  .about-woman-section2 ul li:nth-child(4) .jador-textbox > div p > em {
    display: inline-block;
    color: green;
  }
  .about-woman-section2 ul li:nth-child(4) .jador-textbox::before {
    display: block;
    padding-top: 20%;
  }
  .about-woman-section2 ul li:nth-child(4)::before {
    display: block;
    padding-left: 50%;
  }
  .about-woman-section2 ul li:nth-child(5) {
    width: 100%;
    opacity: 0.15;
  }
  .about-woman-section2 ul li:nth-child(5)::before {
    display: block;
    padding-top: 10%;
  }
  .about-woman-section2 ul li:nth-child(6) {
    margin-left: -10%;
  }
  .about-woman-section2 ul li:nth-child(6) .jador-textbox {
    position: absolute;
    width: 50%;
    top: 30%;
    left: 80%;
    margin-left: 50%;
    box-shadow: 10px 10px 5px rgba(247, 215, 9, 0.966);
    rotate: 45deg;
  }
  .about-woman-section2 ul li:nth-child(6) .jador-textbox > div span {
    font-size: 1.1em;
  }
  .about-woman-section2 ul li:nth-child(6) .jador-textbox > div h5 {
    font-size: 1.5em;
    font-weight: 600;
  }
  .about-woman-section2 ul li:nth-child(6) .jador-textbox > div p {
    font-size: 1.2em;
    font-weight: 400;
  }
  .about-woman-section2 ul li:nth-child(6) .jador-textbox > div p > strong {
    display: inline-block;
    color: wheat;
  }
  .about-woman-section2 ul li:nth-child(6) .jador-textbox > div p > em {
    display: inline-block;
    color: pink;
  }
  .about-woman-section2 ul li:nth-child(7) {
    width: 100%;
  }
  .about-woman-section2 ul li:nth-child(7)::before {
    display: block;
    padding-top: 40%;
  }
  .about-woman-section2 ul li:nth-child(7) .jador-textbox {
    position: absolute;
    top: 30%;
    left: 0;
    width: 40%;
  }
}
@media screen and (max-width: 700px) {
  .about-woman-section2 ul li {
    width: 100%;
  }
  .about-woman-section2 ul li a {
    width: 100%;
  }
  .about-woman-section2 ul li a figure {
    width: 100%;
  }
  .about-woman-section2 ul li a figure img {
    width: 100%;
    object-fit: contain;
    object-position: center;
    filter: grayscale(0.3);
  }
  .about-woman-section2 ul li:nth-child(1) .jador-textbox {
    position: relative;
    color: #888;
  }
  .about-woman-section2 ul li:nth-child(1) .jador-textbox h5 {
    font-weight: 600;
  }
  .about-woman-section2 ul li:nth-child(1) .jador-textbox p {
    color: rgba(241, 201, 20, 0.951);
  }
  .about-woman-section2 ul li:nth-child(1) .more {
    position: absolute;
    display: inline-block;
    width: 15%;
    top: 0;
    left: 80%;
    transform: translateY(50%);
    color: white;
    border: 1px solid azure;
    border-radius: 30px;
    background: #999;
  }
  .about-woman-section2 ul li:nth-child(1) .more:hover {
    background: rgba(241, 201, 20, 0.951);
  }
  .about-woman-section2 ul li:nth-child(1) .more > div {
    text-align: center;
  }
  .about-woman-section2 ul li:nth-child(2) {
    display: none;
  }
  .about-woman-section2 ul li:nth-child(3) {
    filter: grayscale(0.6);
  }
  .about-woman-section2 ul li:nth-child(4) {
    filter: grayscale(0.3);
  }
  .about-woman-section2 ul li:nth-child(4) .jador-textbox {
    position: relative;
    color: #888;
  }
  .about-woman-section2 ul li:nth-child(4) .jador-textbox p {
    line-height: 20px;
    letter-spacing: 0.2em;
  }
  .about-woman-section2 ul li:nth-child(4) .jador-textbox p > strong {
    display: inline-block;
    color: orange;
  }
  .about-woman-section2 ul li:nth-child(4) .jador-textbox p > em {
    display: inline-block;
    color: green;
  }
  .about-woman-section2 ul li:nth-child(4) .more {
    position: absolute;
    width: 15%;
    top: 0;
    left: 80%;
    transform: translateY(50%);
    color: white;
    border: 1px solid azure;
    border-radius: 30px;
    background: #999;
  }
  .about-woman-section2 ul li:nth-child(4) .more:hover {
    background: rgba(241, 201, 20, 0.951);
  }
  .about-woman-section2 ul li:nth-child(4) .more > div {
    text-align: center;
  }
  .about-woman-section2 ul li:nth-child(5) {
    filter: grayscale(0.3);
  }
  .about-woman-section2 ul li:nth-child(6) .jador-textbox {
    position: relative;
    color: #888;
  }
  .about-woman-section2 ul li:nth-child(6) .jador-textbox p {
    line-height: 20px;
    letter-spacing: 0.2em;
  }
  .about-woman-section2 ul li:nth-child(6) .jador-textbox p > strong {
    display: inline-block;
    color: ivory;
  }
  .about-woman-section2 ul li:nth-child(6) .jador-textbox p > em {
    display: inline-block;
    color: palevioletred;
  }
  .about-woman-section2 ul li:nth-child(6) .more {
    position: absolute;
    width: 15%;
    top: 0;
    left: 80%;
    transform: translateY(50%);
    color: white;
    border: 1px solid azure;
    border-radius: 30px;
    background: #999;
  }
  .about-woman-section2 ul li:nth-child(6) .more:hover {
    background: rgba(241, 201, 20, 0.951);
  }
  .about-woman-section2 ul li:nth-child(6) .more > div {
    text-align: center;
  }
  .about-woman-section2 ul li:nth-child(7) .jador-textbox {
    position: relative;
  }
  .about-woman-section2 ul li:nth-child(7) .jador-textbox p {
    line-height: 20px;
    letter-spacing: 0.2em;
  }
  .about-woman-section2 ul li:nth-child(7) .more {
    position: absolute;
    width: 15%;
    top: 0;
    left: 80%;
    transform: translateY(50%);
    color: white;
    border: 1px solid azure;
    border-radius: 30px;
    background: #999;
  }
  .about-woman-section2 ul li:nth-child(7) .more:hover {
    background: rgba(241, 201, 20, 0.951);
  }
  .about-woman-section2 ul li:nth-child(7) .more > div {
    text-align: center;
  }
}