 /* -------------------------------------------sauvage */
  section.ydr-sauvage{
      margin:0 auto ;
      width: 95%;
      background: rgb(237, 237, 239);
  }
  section.ydr-sauvage-video{
    width: 100%;
    height: 100%;
    padding-top: 50%;
    background: gray;
  }
  main.ydr-sauvage-purfume{
    margin: 0 auto;
    margin-bottom: 30px;
  }
  ul.ydr-sauvage-purfume-img{
    margin: 0 auto;
    width: 100%;
    height: 500px;
    display: flex;
  }
  ul.ydr-sauvage-purfume-img li img{
    width: 80%;
    height: 80%;
  }
  ul.ydr-sauvage-purfume-img li h3{
    width: 70px;
    font-weight: 600;
    font-size: 1em;
    transition: width 0.5s, background 0.5s, color 0.5s;
  }
  ul.ydr-sauvage-purfume-imgs li em{
    display: block;
    font-weight: bold;
    font-size: 0.8em;
  }
  ul.ydr-sauvage-purfume-img li h3:hover {
    width: 100px;
    background: black;
    color: white;
    transition-delay: 0.5s, 0.5s, 0.5s;
  }
  li.ydr-sauvage-lemon{
    width: 100%;
   object-fit: cover;
   object-position: center center;
  }
  nav.ydr-sauvage-banner{
    display: flex;
    width: 95%;
    height: 500px;
    position: relative;
    left: 0;
    top: 0;
    background: red;
  }
  nav.ydr-sauvage-banner img{
    width: 100%;
    object-fit: cover;
    object-position: top center;
  }
  @media screen and (min-width:1000px){
    ul.ydr-sauvage-purfume-img li{ 
      display: flex;
      flex-direction: column;
      width: 33.3%;
    }
  }
  @media screen and (min-width:500px) and (max-width:1000px) {
    ul.ydr-sauvage-purfume-img li{
      width: 50%;
    }
    li.ydr-sauvage-lemon{
      display: none;
    }
  }
  /* -------------------------------------------------collection */
  section.ydr-collection{
    width: 95%;
    margin: 30px auto;
    background: blue;
  }
  ul.ybr-colection-wrap{
     display: flex;
     flex-wrap: wrap;
     width: 100%;
  }
  ul.ybr-colection-wrap li:nth-child(odd){
    background: gray;
  }
  @media screen and (min-width:1000px) {
    ul.ybr-colection-wrap li{
      width: 33.3%;
      padding-top: 33.3%;
    }
  }
  @media screen and (min-width:500px) and (max-width:1000px){
    ul.ybr-colection-wrap li{
      width: 50%;
      padding-top: 50%;
    }
  }
  @media screen and (max-width:500px){
    ul.ybr-colection-wrap li{
      width: 100%;
      padding-top: 100%;
    }
  }
  /* ---------------------------------------------------dior-homme */
  
  figure.ydr-homme{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
  }
  figure.ydr-homme img{
    width: 50%;
    height: 100%;
  }
  figcaption.ydr-home-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  figcaption.ydr-home-text h3{
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 30px;
  }
  figcaption.ydr-home-text p{
   margin: 0 auto;
    width: 80%;
  }
  nav.ydr-homme-nav{
    display: flex;
    margin-top: 50px ;
    width: 100%;
  }
  div.ydr-homme-name{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  div.ydr-homme-name span{
    margin-bottom: 30px;
  }
  div.ydr-homme-name span a::after{
   content: "/";
  }
  nav.ydr-homme-nav img{
    width: 50%;
  }
  .ydr-homme-purfume{
    width: 100%;
  }
  ul.ydr-homme-ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  ul.ydr-homme-ul li{
    width: 30%;
  }
  @media screen and (min-width:1000px) {
    ul.ydr-homme-ul li{
      width: 30%;
      padding-top: 30%;
    }
  }
  
  @media screen and (max-width:500px){
    ul.ydr-homme-ul li{
      width: 100%;
      padding-top: 50%;
    }
  }