.flower-particle{
  overflow: hidden;
}
.flower-particle img{
  position: absolute;
  animation-name: flower-particle;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes flower-particle{
  0%{
    top:-10%;
    transform: rotate(0deg);
  }

  100%{
    top: 110%;
    transform: rotate(360deg);
  }
}
