.mbtn {
  z-index: 100;
  position: fixed;
  width: 50px;
  height: 50px;
  left: 14px;
  top: 25px;
  mix-blend-mode: difference;
  border: 1px solid #000;
  border-radius: 50%;
  background: rgba(255,255,255,0.3);
}
.mbtn.active {
  background: none;
  border: none;

  border-radius: 50%;
  opacity: 0.8;
}
.mbtn span {
  position: absolute;
  left: 7px;
  height: 2px;
  background: #000;
  transition: width 0.2s, margin-top 0.2s, transform 0.2s, opacity 0.2s;
  transition-delay: 0s, 0.2s, 0s, 0.2s;
}
.mbtn span.bar1 {
  width: 35px;
  margin-top: -7px;
}
.mbtn span.bar2 {
  width: 25px;
}
.mbtn span.bar3 {
  width: 15px;
  margin-top: 7px;
}
.mbtn:hover span {
  width: 35px;
}
.mbtn.active span {
  background: #FFF;
  width: 35px;
  margin-top: 0;
  transition-delay: 0s, 0.2s, 0.4s, 0.2s;
}
.mbtn.active span.bar1 {
  transform: rotate(45deg);
}
.mbtn.active span.bar2 {
  opacity: 0;
}
.mbtn.active span.bar3 {
  transform: rotate(-45deg);
}

.gnb {
  z-index: 99;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.gnb .menu {
  width: 30%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 250px;
  box-sizing: border-box;
  background-color: #fff;
  transform: translateX(calc(-100% - 20px));
  transition: transform 0.5s;
  transition-delay: 0s;
}
.gnb .menu.active {
  transform: translateX(0);
  transition-delay: 0.5s;
}
.gnb .menu::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  box-sizing: border-box;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 1px solid #000;
}
.gnb .menu h1 {
  position: relative;
  text-align: center;
  margin-top: 80px;
}
.gnb .menu h1 svg {
  display: block;
  width: 20%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.gnb .menu h1 path {
  fill: none;
  stroke: #000;
  stroke-width: 30px;
  animation: logo-drawing 10s linear infinite;
  stroke-dasharray: 1;
}
@keyframes logo-drawing {
  0% {
    stroke-dashoffset: -1;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1;
  }
}

.gnb .menu h1 span {
  display: block;
  text-align: center;
  line-height: 100%;
  margin-top: -10px;
}
.gnb .menu > ul {
  position: relative;
  margin: 30px 10%;
  text-transform: uppercase;
}
.gnb .menu > ul > li {
  padding: 10px 0;
  border-bottom: 1px dotted #000;
}
.gnb .menu > ul > li > a {
  display: block;
  font-weight: lighter;
  position: relative;

  line-height: 100%;
  text-transform: uppercase;
  cursor: pointer;
}
.gnb .menu > ul > li > a::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  color: rgb(255, 187, 0);
  white-space: nowrap;
  height: 0;
  transition: height 0.3s;
  overflow: hidden;
}
.gnb .menu > ul > li > a:hover::before {
  height: 50%;
}
.gnb .menu > ul > li > a.active::before {
  height: 50%;
}

@media screen and (min-width: 800px) {
  .gnb .menu h1 {
    font-size: 2.5em;
  }
  .gnb .menu > ul > li > a {
    font-size: 1.6em;
  }
}
@media screen and (max-width: 800px) {
  .gnb .menu h1 {
    font-size: 2em;
  }
  .gnb .menu > ul > li > a {
    font-size: 1.3em;
  }
}

.header_svg {
  position: absolute;
  left: 100%;
  top: 0;
  width: 30px;
  height: 100%;
}
.header_svg .rect_poly {
  fill: #fff;
}
.header_svg .zigzag_poly {
  fill: #fff;
  display: none;
}
