
/* -------- section1 ---------- */
.kh-intro-section{
  position: relative;
  height: 100%;
  background: #000;
}
.khkindexlogo{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  width:80%;
  max-width: 600px;
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
}
figure.khkindexlogo img{
  width: 100%;
}
figure.khkindexlogo img:nth-of-type(1){/* white */
  position: relative;
  z-index: 1;
  margin: 0 auto;
}
figure.khkindexlogo img:nth-of-type(2){ /* blue */
  position: absolute;
  top:0%;
  left:0%;
  animation: glitch1 0.5s infinite;

}
figure.khkindexlogo img:nth-of-type(3){ /* yellow */
  position: absolute;
  top:0%;
  left:0%;
  animation: glitch1 0.3s infinite;

}
@keyframes glitch1{
  0%{
    transform: translateX(2%);
    clip-path:polygon( 0 0 , 100% 0 , 100% 80% , 0 80% );
  }
  10%{
    transform: translateX(-4%);
    clip-path:polygon( 0 20% , 100% 20 , 100% 80% , 0 80% );
  }
  20%{
    transform: translateX(1%);
    clip-path:polygon( 0 25% , 100% 30% , 100% 90% , 0 90% );
  }
  30%{
    transform: translateX(-2%);
    clip-path:polygon( 0 30% , 100% 35% , 100% 80% , 0 80% );
  }
  40%{
    transform: translateX(-1.5%);
    clip-path:polygon( 0 35% , 100% 40% , 100% 70% , 0 70% );
  }
  50%{
    transform: translateX(3%);
    clip-path:polygon( 0 30% , 100% 30% , 100% 80% , 0 80% );
  }
  60%{
    transform: translateX(1%);
    clip-path:polygon( 0 25% , 100% 25% , 100% 100% , 0 100% );
  }
  70%{
    transform: translateX(2%);
    clip-path:polygon( 0 20% , 100% 20% , 100% 80% , 0 80% );
  }
  80%{
    transform: translateX(-1%);
    clip-path:polygon( 0 15% , 100% 10% , 100% 70% , 0 70% );
  }
  90%{
    transform: translateX(3%);
    clip-path:polygon( 0 10% , 100% 5% , 100% 80% , 0 80% );
  }
  100%{
    transform: translateX(1.5%);
    clip-path:polygon( 0 0 , 100% 0% , 100% 55% , 0 55% );
  }
}

/* -------noise-------- */
.kh-noise{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top:0;left:0;
  opacity: 0.3;
}

/* -------youtube container-------- */
.kh-youtube-container{
  position: absolute;
  width: 80%;
  max-width: 1200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  pointer-events: none;
  overflow: hidden;
}
.kh-youtube-container .kh-youtube-wrap{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
} 
.kh-youtube-container .kh-youtube-wrap .kh-ratio-img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
.kh-youtube-container .kh-youtube-wrap iframe{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.kh-youtube-container .kh-youtube-wrap{
  -webkit-mask-image: url(../img/khk/intro/video-mask.svg);
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  z-index: 2;
} 

.kh-svg{
  position: relative;
  display: block;
  width: 100%;
  z-index: 1;
}

.kh-svg path{
  stroke: wheat;
  fill: none;
  stroke-width: 3px;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: drawing 20s infinite linear;
}

@keyframes drawing{
  0%{stroke-dashoffset: -1;}
  50%{stroke-dashoffset: 0;}
  100%{stroke-dashoffset: 1;}
}

/* -------- section2 ---------- */

.kh-intro-section2{
  position: relative;
  height: 100%;
  background-color: #000;
}
.kh-intro-section2 .kh-youtube-wrap{
  position: relative;
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.kh-intro-section2 .kh-ratio-img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
.kh-intro-section2 .kh-youtube-wrap iframe{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.kh-intro-section2 .kh-gold-bottom{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: #e6ded3;
  
}
.kh-intro-section2 .jador-img{
  position: absolute;
  left:50%;
  top: 0%;
  transform: translate(-50%,-50%);
  width: 80%;
  max-width: 800px;
  margin-bottom: 10px;
  filter:  drop-shadow(6px 8px 2px #333);
  opacity: 0;
}

.kh-intro-section2 figcaption{
  position: absolute;
  bottom: 11%;
  text-align: center;
}
@media screen and (min-width:800px) {
  .kh-intro-section2 figcaption p{
    font-size: 2em;
    font-weight: 400;
    line-height: 1.2;
  }
}
@media screen and (min-width:400px) and (max-width: 800px) {
  .kh-intro-section2 figcaption p{
    font-size: 6vw;
    font-weight: 400;
    line-height: 1.2;
  }
}
@media screen and (max-width:500px) {
  .kh-intro-section2 figcaption p{
    width: 300px;
    font-size: 6.5vw;
    font-weight: 400;
    line-height: 1.2;
  }
}
.wave-bg{
  position: absolute;
  width: 100%;
  height: 5%;
  bottom: 49.9%;
  background-image: url(../img/khk/intro/wave-bg.png);
  background-size: 150% 100%;
  background-repeat: repeat-x;
  animation: wave-bg 2000s infinite linear;
} 
@keyframes wave-bg{
  0%{
    background-position: 0 0;
  }
  100%{
    background-position: -100000% 0;
  }
}