.leaf-particle{
  overflow: hidden;
}
.leaf-particle img{
  position: absolute;
  animation-name: leaf-particle;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes leaf-particle{
  0%{
    top:-10%;
    transform: translateX(1000%);
  }
  100%{
    top: 110%;
    transform: translateX(-1000%);
  }
}
