  .lee-header .gnb .lnb {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 500px;
    z-index: 100;
    background-color: rgb(102, 102, 102, 0.9);
  }
  .lee-header .gnb .lnb>ul {
    display: flex;
    justify-content: space-between;
    padding: 80px 80px;
    height: inherit;
  }
  .lee-header .gnb .lnb>ul>li {
    margin: 0 auto;
    text-align: center;
  }
  .lee-header .gnb .lnb>ul>li>a {
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 450;
    color: aliceblue;
  }
  .lee-header .gnb .lnb>ul>li>ul {
    margin-top: 30px;
  }
  .lee-header .gnb .lnb>ul>li>ul>li {
    font-size: 2em;
    margin-bottom: 30px;
    color: aliceblue;
  }
  @media screen and (min-width:950px) and (max-width:1300px){
    .lee-header .gnb .lnb {
      height: 375px;
    }
    .lee-header .gnb .lnb>ul {
      padding: 70px 50px; 
    }
    .lee-header .gnb .lnb>ul>li>a {
      text-transform: uppercase;
      font-size: 2em;
      font-weight: 400;
      color: aliceblue;
    }
    .lee-header .gnb .lnb>ul>li>ul {
      margin-top: 30px;
    }
    .lee-header .gnb .lnb>ul>li>ul>li {
      font-size: 1.6em;
      margin-bottom: 20px;
      color: aliceblue;
    }
  }
  @media screen and (min-width:600px) and (max-width:950px){
    .lee-header .gnb .lnb {
      height: 350px;
    }
    .lee-header .gnb .lnb>ul {
      display: block;
      padding-top: 75px;
      padding-left: 15.5%; 
    }
    .lee-header .gnb .lnb>ul>li{
      margin-bottom: 50px;
      text-align: left;
    }
    .lee-header .gnb .lnb>ul>li>a {
      text-transform: uppercase;
      font-size: 2em;
      font-weight: 400;
      color: aliceblue;
    }
    .lee-header .gnb .lnb>ul>li>ul {
      display: none;
    }
  }
  @media screen and (max-width:600px){
    .lee-header .gnb .lnb {
      height: 350px;
    }
    .lee-header .gnb .lnb>ul {
      display: block;
      padding-top: 75px;
      padding-left: 13%; 
    }
    .lee-header .gnb .lnb>ul>li{
      margin-bottom: 50px;
      text-align: left;
    }
    .lee-header .gnb .lnb>ul>li>a {
      text-transform: uppercase;
      font-size: 1.8em;
      font-weight: 400;
      color: aliceblue;
    }
    .lee-header .gnb .lnb>ul>li>ul {
      display: none;
    }
  }